main {
    &.characters {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 100%;
        
        & > div.contents {
            padding: 100px 0;
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            height: 100%;
        }
    }
}