.nav-menu {
    //position: fixed;
    //top: 80px;
    //left: 46%;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    
    & > button {
        display: flex;
        padding: 5px 5px;
        background-color: #f0f0f5;
        border: none;
        border-radius: 50%;
        transition: background-color .4s;
        
        &:hover {
            background-color: #EC1D24;
        }
    }
    
    & > .nav-info {
        padding: 10px 20px;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 2px #EC1D24 solid;
    }
}