main {
    &.header {
        background-color: #202020;
        display: flex;
        justify-content: center;
        height: 70px;
        position: fixed;
        width: 100%;
        
        & > img {
            max-height: 100%;
        }
    }
    
}