div {
    &.footer {
        background-color: #202020;
        bottom: 0;
        display: flex;
        height: 35px;
        justify-content: center;
        position: fixed;
        width: 100%;
        
        & > img {
            max-height: 100%;
        }
    }
    
}